.page_about {
    .home1 {
        position: relative;
        .img_home1 {
            background-image: url("../public/images/cctv111.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            padding: 70px 0px;
            opacity: 0.2;
        }
        .title {
            color: black;
            display: flex;
            justify-content: center;
            margin: 0;
            position: absolute;
            top: 50px;
            right: 45vw;
        }
        // .title1{
        //     position: absolute;
        //     z-index: 1;
        //     width: 100%;
        //     top: 245px;
        // }
    }

    .home3 {
        display: flex;
        justify-content: space-between;
        background-color: #d1eeee;
        padding: 50px;

        .home31 {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .home32 {
            img {
                height: 300px;
                border-radius: 20px;
            }
        }
    }
}
