.page_footer{
    background-color: #e5f1f4;
    .footer{
        display: flex;
        justify-content: center;
        color: #3300FF;
    }
    .footer11{
        display: flex;
        justify-content: center;
        color: #6600FF;
    }
    .footer12{
        display: flex;
        justify-content: center;
        color: #6600FF;
    }
}
