.page_product{
    .photo{
        padding: 50px 100px;
        margin-top: 30px;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        .detail_photo{
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            button{
                margin-top: 10px;
            }
        }
    }
    
    
    
    
}