.page_shop{

    .title1{
       .title11{
        color: black;
        background-color: #AEEEEE;
      
       }
    }
    
    .title2{
        .title22{
         color: black;
        }
     }
     
}